header{
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/header.jpg") no-repeat;
  height: 600px;
  background-size: cover;
  color: white;
 }
 .logo{
   width: 100px;
 }

 .article-img{
  width: 100%;
}

footer {
  background-color: black;
  padding-top: 70px;
}
a{
  color: white;
}

