@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

body{
  margin: 0;
  padding: 0;
}

header{
  font-family: Courgette, serif ;

}

.header-img{
  max-width: 100%;
}


/* This is footer style */

ul{
	list-style: none;
}
ul li a{
  color: white;
}